/* Classes com margins para ajustes*/

.m00{ margin: 0}

// Margins bottom >= 0
.mb00{margin-bottom: 0}
.mb01{margin-bottom: 1px}
.mb02{margin-bottom: 2px}
.mb03{margin-bottom: 3px}
.mb04{margin-bottom: 4px}
.mb05{margin-bottom: 5px}
.mb06{margin-bottom: 6px}
.mb07{margin-bottom: 7px}
.mb08{margin-bottom: 8px}
.mb09{margin-bottom: 9px}
.mb10{margin-bottom: 10px}
.mb15{margin-bottom: 15px}
.mb20{margin-bottom: 20px}
.mb25{margin-bottom: 25px}
.mb30{margin-bottom: 30px}
.mb40{margin-bottom: 40px}
.mb50{margin-bottom: 50px}
.mb75{margin-bottom: 75px}
.mb100{margin-bottom: 100px}
.mb150{margin-bottom: 150px}

// Margins bottom < 0 
.mb-01{margin-bottom: -1px}
.mb-02{margin-bottom: -2px}
.mb-03{margin-bottom: -3px}
.mb-04{margin-bottom: -4px}
.mb-05{margin-bottom: -5px}
.mb-06{margin-bottom: -6px}
.mb-07{margin-bottom: -7px}
.mb-08{margin-bottom: -8px}
.mb-09{margin-bottom: -9px}
.mb-10{margin-bottom: -10px}
.mb-15{margin-bottom: -15px}
.mb-20{margin-bottom: -20px}
.mb-25{margin-bottom: -25px}
.mb-30{margin-bottom: -30px}
.mb-40{margin-bottom: -40px}
.mb-50{margin-bottom: -50px}



 // Margins top >= 0 
.mt00{margin-top: 0}
.mt01{margin-top: 1px}
.mt02{margin-top: 2px}
.mt03{margin-top: 3px}
.mt04{margin-top: 4px}
.mt05{margin-top: 5px}
.mt06{margin-top: 6px}
.mt07{margin-top: 7px}
.mt08{margin-top: 8px}
.mt09{margin-top: 9px}
.mt10{margin-top: 10px}
.mt15{margin-top: 15px}
.mt16{margin-top: 16px}
.mt17{margin-top: 17px}
.mt20{margin-top: 20px}
.mt25{margin-top: 25px}
.mt30{margin-top: 30px}
.mt40{margin-top: 40px}
.mt50{margin-top: 50px}

 // Margins top < 0 */
.mt-01{margin-top: -1px}
.mt-02{margin-top: -2px}
.mt-03{margin-top: -3px}
.mt-04{margin-top: -4px}
.mt-05{margin-top: -5px}
.mt-06{margin-top: -6px}
.mt-07{margin-top: -7px}
.mt-08{margin-top: -8px}
.mt-09{margin-top: -9px}
.mt-10{margin-top: -10px}
.mt-15{margin-top: -15px}
.mt-20{margin-top: -20px}
.mt-25{margin-top: -25px}
.mt-30{margin-top: -30px}
.mt-40{margin-top: -40px}
.mt-50{margin-top: -50px}



 // Margins right >= 0 
.mr00{margin-right: 0}
.mr01{margin-right: 1px}
.mr02{margin-right: 2px}
.mr03{margin-right: 3px}
.mr04{margin-right: 4px}
.mr05{margin-right: 5px}
.mr06{margin-right: 6px}
.mr07{margin-right: 7px}
.mr08{margin-right: 8px}
.mr09{margin-right: 9px}
.mr10{margin-right: 10px}
.mr15{margin-right: 15px}
.mr20{margin-right: 20px}
.mr25{margin-right: 25px}
.mr30{margin-right: 30px}
.mr40{margin-right: 40px}
.mr50{margin-right: 50px}

 // Margins right < 0 
.mr-01{margin-right: -1px}
.mr-02{margin-right: -2px}
.mr-03{margin-right: -3px}
.mr-04{margin-right: -4px}
.mr-05{margin-right: -5px}
.mr-06{margin-right: -6px}
.mr-07{margin-right: -7px}
.mr-08{margin-right: -8px}
.mr-09{margin-right: -9px}
.mr-10{margin-right: -10px}
.mr-15{margin-right: -15px}
.mr-20{margin-right: -20px}
.mr-25{margin-right: -25px}
.mr-30{margin-right: -30px}
.mr-40{margin-right: -40px}
.mr-50{margin-right: -50px}



 // Margins left >= 0 
.ml00{margin-left: 0}
.ml01{margin-left: 1px}
.ml02{margin-left: 2px}
.ml03{margin-left: 3px}
.ml04{margin-left: 4px}
.ml05{margin-left: 5px}
.ml06{margin-left: 6px}
.ml07{margin-left: 7px}
.ml08{margin-left: 8px}
.ml09{margin-left: 9px}
.ml10{margin-left: 10px}
.ml15{margin-left: 15px}
.ml20{margin-left: 20px}
.ml22{margin-left: 22px}
.ml25{margin-left: 25px}
.ml30{margin-left: 30px}
.ml35{margin-left: 35px}
.ml40{margin-left: 40px}
.ml45{margin-left: 45px}
.ml50{margin-left: 50px}

 /* Margins left < 0 */
.ml-01{margin-left: -1px}
.ml-02{margin-left: -2px}
.ml-03{margin-left: -3px}
.ml-04{margin-left: -4px}
.ml-05{margin-left: -5px}
.ml-06{margin-left: -6px}
.ml-07{margin-left: -7px}
.ml-08{margin-left: -8px}
.ml-09{margin-left: -9px}
.ml-10{margin-left: -10px}
.ml-15{margin-left: -15px}
.ml-20{margin-left: -20px}
.ml-25{margin-left: -25px}
.ml-30{margin-left: -30px}
.ml-40{margin-left: -40px}
.ml-50{margin-left: -50px}




/* Classes com Paddings para ajustes*/

.p00{ padding: 0}
.p05{ padding: 5px}
.p10{ padding: 10px}

// Paddings bottom >= 0 
.pb00{padding-bottom: 0}
.pb01{padding-bottom: 1px}
.pb02{padding-bottom: 2px}
.pb03{padding-bottom: 3px}
.pb04{padding-bottom: 4px}
.pb05{padding-bottom: 5px}
.pb06{padding-bottom: 6px}
.pb07{padding-bottom: 7px}
.pb08{padding-bottom: 8px}
.pb09{padding-bottom: 9px}
.pb10{padding-bottom: 10px}
.pb15{padding-bottom: 15px}
.pb20{padding-bottom: 20px}
.pb25{padding-bottom: 25px}
.pb30{padding-bottom: 30px}
.pb40{padding-bottom: 40px}
.pb45{padding-bottom: 45px}
.pb50{padding-bottom: 50px}

// Paddings bottom < 0 
.pb-01{padding-bottom: -1px}
.pb-02{padding-bottom: -2px}
.pb-03{padding-bottom: -3px}
.pb-04{padding-bottom: -4px}
.pb-05{padding-bottom: -5px}
.pb-06{padding-bottom: -6px}
.pb-07{padding-bottom: -7px}
.pb-08{padding-bottom: -8px}
.pb-09{padding-bottom: -9px}
.pb-10{padding-bottom: -10px}
.pb-15{padding-bottom: -15px}
.pb-20{padding-bottom: -20px}
.pb-25{padding-bottom: -25px}
.pb-30{padding-bottom: -30px}
.pb-40{padding-bottom: -40px}
.pb-50{padding-bottom: -50px}



 // Paddings top >= 0 
.pt00{padding-top: 0}
.pt01{padding-top: 1px}
.pt02{padding-top: 2px}
.pt03{padding-top: 3px}
.pt04{padding-top: 4px}
.pt05{padding-top: 5px}
.pt06{padding-top: 6px}
.pt07{padding-top: 7px}
.pt08{padding-top: 8px}
.pt09{padding-top: 9px}
.pt10{padding-top: 10px}
.pt12{padding-top: 12px}
.pt14{padding-top: 14px}
.pt15{padding-top: 15px}
.pt20{padding-top: 20px}
.pt25{padding-top: 25px}
.pt30{padding-top: 30px}
.pt35{padding-top: 35px}
.pt40{padding-top: 40px}
.pt50{padding-top: 50px}

 // Paddings top < 0 
.pt-01{padding-top: -1px}
.pt-02{padding-top: -2px}
.pt-03{padding-top: -3px}
.pt-04{padding-top: -4px}
.pt-05{padding-top: -5px}
.pt-06{padding-top: -6px}
.pt-07{padding-top: -7px}
.pt-08{padding-top: -8px}
.pt-09{padding-top: -9px}
.pt-10{padding-top: -10px}
.pt-15{padding-top: -15px}
.pt-20{padding-top: -20px}
.pt-25{padding-top: -25px}
.pt-30{padding-top: -30px}
.pt-40{padding-top: -40px}
.pt-50{padding-top: -50px}



 // Paddings right >= 0 
.pr00{padding-right: 0 !important}
.pr01{padding-right: 1px}
.pr02{padding-right: 2px}
.pr03{padding-right: 3px}
.pr04{padding-right: 4px}
.pr05{padding-right: 5px}
.pr06{padding-right: 6px}
.pr07{padding-right: 7px}
.pr08{padding-right: 8px}
.pr09{padding-right: 9px}
.pr10{padding-right: 10px}
.pr15{padding-right: 15px}
.pr20{padding-right: 20px}
.pr25{padding-right: 25px}
.pr30{padding-right: 30px}
.pr40{padding-right: 40px}
.pr50{padding-right: 50px}

 // Paddings right < 0 
.pr-01{padding-right: -1px}
.pr-02{padding-right: -2px}
.pr-03{padding-right: -3px}
.pr-04{padding-right: -4px}
.pr-05{padding-right: -5px}
.pr-06{padding-right: -6px}
.pr-07{padding-right: -7px}
.pr-08{padding-right: -8px}
.pr-09{padding-right: -9px}
.pr-10{padding-right: -10px}
.pr-15{padding-right: -15px}
.pr-20{padding-right: -20px}
.pr-25{padding-right: -25px}
.pr-30{padding-right: -30px}
.pr-40{padding-right: -40px}
.pr-50{padding-right: -50px}



 // Paddings left >= 0 
.pl00{padding-left: 0}
.pl01{padding-left: 1px}
.pl02{padding-left: 2px}
.pl03{padding-left: 3px}
.pl04{padding-left: 4px}
.pl05{padding-left: 5px}
.pl06{padding-left: 6px}
.pl07{padding-left: 7px}
.pl08{padding-left: 8px}
.pl09{padding-left: 9px}
.pl10{padding-left: 10px}
.pl15{padding-left: 15px}
.pl20{padding-left: 20px}
.pl22{padding-left: 22px}
.pl25{padding-left: 25px}
.pl30{padding-left: 30px}
.pl40{padding-left: 40px}
.pl45{padding-left: 45px}
.pl50{padding-left: 50px}

 /* Paddings left < 0 */
.pl-01{padding-left: -1px}
.pl-02{padding-left: -2px}
.pl-03{padding-left: -3px}
.pl-04{padding-left: -4px}
.pl-05{padding-left: -5px}
.pl-06{padding-left: -6px}
.pl-07{padding-left: -7px}
.pl-08{padding-left: -8px}
.pl-09{padding-left: -9px}
.pl-10{padding-left: -10px}
.pl-15{padding-left: -15px}
.pl-20{padding-left: -20px}
.pl-25{padding-left: -25px}
.pl-30{padding-left: -30px}
.pl-40{padding-left: -40px}
.pl-50{padding-left: -50px}



/* Classes de  ajustes extras */
.ptb06{padding: 6px 0}
.ptb12{padding: 12px 0}
.box-body-padding{padding: 20px 20px 10px}


/* Tamanho de fontes */
.font08{font-size: 08px !important}
.font10{font-size: 10px !important}
.font12{font-size: 12px !important}
.font14{font-size: 14px !important}
.font16{font-size: 16px !important}
.font18{font-size: 18px !important}
.font20{font-size: 20px !important}
.font25{font-size: 25px !important}
.font40{font-size: 40px !important}

/* Classes para elementos com position (relative, absolute) */
.t01{top: 1px;} 
.t02{top: 2px;}
.t03{top: 3px;} 
.t04{top: 4px;}
.t05{top: 3px;} 
.t10{top: 10px;} 
.t-01{top: -1px;} 
.t-02{top: -2px;}
.t-03{top: -3px;} 
.t-04{top: -4px;}
.t-05{top: -5px;}
.t-06{top: -6px;}
.t-07{top: -7px;}
.t-08{top: -8px;}
.t-09{top: -9px;}
.t-10{top: -10px;}
.l01{left: 1px;}
.l00{left: 0}
.l01{left: 1px;}
.l02{left: 2px;}
.l03{left: 3px;}
.l04{left: 4px;}
.l05{left: 5px;}
.l06{left: 6px;}
.l07{left: 7px;}
.l08{left: 8px;}
.l-01{left: -1px;}
.l-02{left: -2px;}
.l-03{left: -3px;}
.l-04{left: -4px;}




/* Alturas fixas (bastante uteis para dashboards) */
.h50{height: 50px}
.h100{height: 100px}
.h150{height: 150px}
.h200{height: 200px}
.h250{height: 250px}
.h300{height: 300px}
.h370{height: 370px}
.h400{height: 400px}
.h420{height: 420px}
.h290{height: 290px}
.h600{height: 600px}
.h620{height: 620px}
.hauto{height: auto}
.min-h-100{min-height: 100px;}
.min-h-150{min-height: 150px;}
.min-h-200{min-height: 200px;}
.min-h-220{min-height: 220px;}
.min-h-250{min-height: 250px;}
.min-h-300{min-height: 300px;}
.min-h-350{min-height: 350px;}
.min-h-400{min-height: 400px;}






